<style>
    .bm--card-equal-height {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .bm--card-equal-height .bm--card-footer--top-section {
        margin-top: auto;
    }
</style>
<a href="/profile?username={{ profile.username }}">
    <div class="card bm--card-equal-height">
        <div class="card-content">
            <div class="content">
                <p class="title is-4">{{ profile.username }}</p>
            </div>
        </div>
    
        <div class="card-footer bm--card-footer--top-section">
            <p class="card-footer-item">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-pizza-slice"></i>
                    </span>
                    <span>{{ profile.userrecipedata.amount }} {% if profile.userrecipedata.amount == 1 %} recipe {% else %} recipes {% endif %}</span>
                </span>
            </p>
        </div>
    </div>
</a>